<!DOCTYPE html>
<html>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">
   <p>Name: <input type="text" ng-model="name"></p>
  <p ng-bind="name"></p>
{{ firstName + " " + lastName }}
   <p>Maths : <input type="number" ng-model="math"></p>
   {{50 +10 *(math -75)/15}}
</div>
   
   
<script>
var app = angular.module("myApp", []);
app.controller("myCtrl", function($scope) {
  $scope.firstName = "John";
  $scope.lastName = "Doe";
});
</script>

</body>
</html>
